if SHIELD_OLED_128X32_PROMICRO

config DONGLE_DISPLAY_ORIGINAL_WIDTH
    int
    default 128

config DONGLE_DISPLAY_ORIGINAL_HEIGHT
    int
    default 32

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY

endif